Leader (12);Can use Leadership if within 12''
Inheritance;When warband is created, purchase an item für Kislevite Warrior equipment list for half price. If item is lost the captain must replace the item as quick as possible at 150% price. Until replaced Captain suffers a -1 penalty to all tests and rolls to hit.
Bear Handler;The trained bear automatically pass its stupidity test when within 6''
Gun Rest;Streltsi with halberd and handgun can use Gun Rest. Add +1 to the to hit roll, as long as the unit doesn't move.
Trained;Use Bear Tamers Ld instead when within 6''. No need to do a stupidity test when within 6'' of bear tamer.
Bear Hug;If bear hits the same warrior with both attacks, player may chose to make a bear hug. Boath player roll a D6 and add the units Strength, then compare. If the bears total is higher the opponent gains one auto wound (no armour save allowed). 
Fiercerly Loyal;As long as bear isn't OAA, ignore ‘Sold to the Pits’, ‘Robbed’, and ‘Captured’ for the bear tamer.
